<!-- BaseAreaController as baseCtrl -->
<!--<div ng-bind-html="baseCtrl.catPhoto"></div>-->
<div>
    <span>Email</span>
    <input ng-model="baseCtrl.fbEmail" type="text">
</div>
<div>
    <span>Password</span>
    <input ng-model="baseCtrl.fbPass" type="text">
</div>
<div>
    <button ng-click="baseCtrl.fbLogin">Login</button>
</div>
<br/>
<div>
    <span>User ID</span>
    <input ng-model="baseCtrl.userID" type="text">
</div>
<div>
    <button ng-click="baseCtrl.enrollID">Enroll</button>
</div>